<div class="nav-head">
<h2>Transactions for <%= @category.name %></h2>
<p class="bck"><%= link_to raw('&#8592;'), categories_path %></p>
</div>
<div class="container mt-4">

    <p>Total Amount: <%= @total_amount %></p>

    
    <ul class="list-group">
      <% @expenses.each do |expense| %>
        <li class="list-group-item"><%= expense.name %> - Amount: <%= expense.amount %></li>
      <% end %>
    </ul>
  </div>


  
  <div class="new-trans">
    <%= link_to 'Add a new expense', new_category_expense_path(@category) %>
</div>
